*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #2a2d3e;
    --secondary-color:#1b1f2b;
    --text-color : #e0e0e0;
}
body{
    background-color:var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--secondary-color);
}
h2{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}
.inputbox{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:25px;
    margin-bottom: 20px;

}
input{
    width: 100%;
    background: var(--primary-color);
    padding: 15px;
    outline: none;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 18px;

}
textarea{

 width: 100%;
    background: var(--primary-color);
    padding: 15px;
    outline: none;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 18px;
    resize: none;
}
button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #4a90e2;
    outline: none;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
}
